# Dependencies
node_modules/

# Build outputs
dist/
build/

# Turbo
.turbo/

# OS
.DS_Store

# Env
.env
.env.local

# Logs
*.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
